body {
    background-image: url("../img/travel4.webp");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .container {
    text-align: center;
    margin-left: 0px;
    padding: 20px;
    max-width: 1100px;
 
  }

  .containerShadow {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-radius: 10px;
  }

  .logo {
    width: 350px;
    margin-bottom: 30px;
  }
  .mintur{
    width: 200px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }

  .message {
    font-size: 20px;
    margin-bottom: 2rem;
    color: #fff;
  }

  .regulated {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .uy-natural {
    height: 5rem;
  }

  .qr-code {
    height: 5rem;
  }

  .countdown {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
  }

  .social-icons {
    margin-top: 30px;
  }

  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
  }

  .social-icons a:hover {
    color: #1c2c5f;
  }

  @media only screen and (max-width: 500px) {
    .regulated {
      flex-direction: column;
    }
    .uy-natural {
      height: 4.5rem;
      margin: auto;
    }
  
    .qr-code {
      height: 4.5rem;
      margin: auto;
    }
  }